@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  @apply bg-white text-black antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

